p{  
    color:black;
    margin-top:25px;
}

.Main_Form{
    border:1px solid rgb(0, 0, 0);
    border-radius:10px;
    background-color:rgba(255, 208, 0, 0.763);
    color:black;
    padding:15px;

    
}

.Form_Head{
    text-align:center;
}


.Form_Body{
    border:1px solid black;
    padding:10px;
    overflow:hidden;
}


hr{
    border: 1px solid black;
}

.map{
   height:400px;
   border:1px solid black;
   
}

 .order_selection{
   height:400px;
   background-color:white;
   border:1px solid black;
   width:58%;
   float:left;
   margin:10px;
   text-align:center;
 }

 .customer_info{
   height:400px;
   border:1px solid black;
   width:38%;
   float:left;
   margin:10px;
   background-color:white;
 }


